<div class="pago-container">

  <div class="pago-content">

    <!-- HEADER -->
    <div class="pago-header">

      <div>
        <h2>Detalle de Venta</h2>
        <span>
          {{ sale.tipoComprobante }}
          -
          {{ sale.serie }} - {{ sale.numeroComprobante }}
        </span>
      </div>

      <div class="estado-pago pagada">
        <span class="estado-venta" [ngClass]="{
      'borrador': sale.estado === 'BORRADOR',
      'emitida': sale.estado === 'EMITIDA',
      'anulada': sale.estado === 'ANULADA'
    }">
          {{ sale.estado }}
        </span>
      </div>

    </div>


    <!-- DATOS -->
    <div class="pago-card">

      <h3>Información del Pago</h3>

      <div class="datos-grid">

        <div class="info-card">
          <span>Cliente</span>
          <strong>{{ sale.clienteNombre }}</strong>
        </div>

        <div class="info-card">
          <span>Empleado</span>
          <strong> {{ sale.empleadoNombre }}</strong>
        </div>

        <div class="info-card">
          <span>Fecha de Venta</span>
          <strong> {{ sale.fechaVenta | date:'dd/MM/yyyy HH:mm' }}</strong>
        </div>

        <div class="info-card">
          <span>Fecha de Creación</span>
          <strong>
            {{ sale.fecha_Creacion | date:'dd/MM/yyyy HH:mm' }}
          </strong>
        </div>
        <div class="info-card">
          <span>Moneda</span>
          <strong>
            {{ sale.moneda }}
          </strong>
        </div>

        <div class="info-card">
          <span>Estado de Venta </span>
          <strong>
            {{ sale.estado }}
          </strong>
        </div>


      </div>

    </div>

    <!-- DETALLE -->
    <div class="pago-card">

      <h3>Detalle de productos</h3>

      <div class="table-wrapper">

        <table>

          <thead>
            <tr>
              <th>Producto</th>
              <th class="center">Cantidad</th>
              <th class="right">Precio Unitario</th>
              <th class="right">Subtotal</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let d of sale.detalles">

              <td>
                {{ d.producto?.nombre || d.productoNombre }}
              </td>

              <td class="center">
                {{ d.cantidad }}
              </td>

              <td class="right">
                S/ {{ d.precioUnitario | number:'1.2-2' }}
              </td>

              <td class="right">
                S/ {{ d.subtotal | number:'1.2-2' }}
              </td>

            </tr>

          </tbody>

        </table>

      </div>

      <div class="total-box">

        <div>
          <span>Subtotal</span>
          <span>
            S/ {{ sale.subTotal | number:'1.2-2' }}
          </span>
        </div>

        <div class="total">
          <span>IGV 18%</span>
          <span>
            S/ {{ sale.igv | number:'1.2-2' }}
          </span>
        </div>
        <div class="total">
          <span>Total</span>
          <span>
            S/ {{ sale.total | number:'1.2-2' }}
          </span>
        </div>

      </div>

    </div>

  </div>

  <!-- BOTONES -->
  <div class="pago-actions no-print">

    <button mat-stroked-button color="primary" (click)="cerrar($event)">

      Cerrar

    </button>

    <button mat-raised-button color="primary" (click)="printBoleta()">
      <mat-icon>print</mat-icon>

      Imprimir Detalle de Venta

    </button>

  </div>

</div>