<h2 mat-dialog-title>Agregar Cliente</h2>
<div mat-dialog-content>
  <form [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Contacto</mat-label>
        <input matInput formControlName="contacto" required />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" required />
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" required />
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button (click)="closeDialog()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit"  [disabled]="supplierForm.invalid">
        Guardar
      </button>
    </div>
  </form>
</div>