<div class="pago-container">

  <div class="pago-content">

    <!-- HEADER -->
    <div class="pago-header">

      <div>
        <h2>Comprobante de Pago</h2>
        <span>
          {{ salePayment.tipoComprobante }}
          -
          {{ salePayment.numeroComprobante }}
        </span>
      </div>

      <div class="estado-pago pagada">
        {{salePayment.estado}}
      </div>

    </div>

    <!-- DATOS -->
    <div class="pago-card">

      <h3>Información del Pago</h3>

      <div class="datos-grid">

        <div class="info-card">
          <span>Cliente</span>
          <strong>{{ salePayment.clienteNombre }}</strong>
        </div>

        <div class="info-card">
          <span>Empleado</span>
          <strong>{{ salePayment.empleadoNombre }}</strong>
        </div>

        <div class="info-card">
          <span>Método de Pago</span>
          <strong>{{ salePayment.nombre }}</strong>
        </div>

        <div class="info-card">
          <span>Fecha</span>
          <strong>
            {{ salePayment.fecha_Pago | date:'dd/MM/yyyy HH:mm' }}
          </strong>
        </div>

      </div>

    </div>

    <!-- DETALLE -->
    <div class="pago-card">

      <h3>Detalle de productos</h3>

      <div class="table-wrapper">

        <table>

          <thead>
            <tr>
              <th>Producto</th>
              <th class="center">Cantidad</th>
              <th class="right">Precio Unitario</th>
              <th class="right">Subtotal</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let d of salePayment.detalles">

              <td>
                {{ d.producto?.nombre || d.productoNombre }}
              </td>

              <td class="center">
                {{ d.cantidad }}
              </td>

              <td class="right">
                S/ {{ d.precioUnitario | number:'1.2-2' }}
              </td>

              <td class="right">
                S/ {{ d.subtotal | number:'1.2-2' }}
              </td>

            </tr>

          </tbody>

        </table>

      </div>

      <div class="total-box">

        <div>
          <span>Subtotal</span>
          <span>
            S/ {{ salePayment.totalVenta | number:'1.2-2' }}
          </span>
        </div>

        <div class="total">
          <span>Total Pagado</span>
          <span>
            S/ {{ salePayment.totalVenta | number:'1.2-2' }}
          </span>
        </div>

      </div>

    </div>

  </div>

  <!-- BOTONES -->
  <div class="pago-actions no-print">

    <button
      mat-stroked-button
      color="primary"
      (click)="cerrar($event)">

      Cerrar

    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="printPago()">

      <mat-icon>print</mat-icon>

      Imprimir Pago

    </button>

  </div>

</div>