<div class="payments-method-page">

  <div class="page-header">

    <div>
      <h1>Métodos de Pago</h1>
      <p>
        Administra los métodos de pago disponibles en el sistema.
      </p>
    </div>

    <button
      mat-raised-button
      class="add-button"
      (click)="openDialog()">

      <mat-icon>add</mat-icon>

      Agregar Método

    </button>

  </div>

  <div class="table-card">

    <table
      mat-table
      [dataSource]="dataSource"
      class="payments-table">

      <!-- ID -->

      <ng-container matColumnDef="id">

        <th mat-header-cell *matHeaderCellDef>
          ID
        </th>

        <td mat-cell *matCellDef="let payment">
          #{{ payment.metodoPagoId }}
        </td>

      </ng-container>

      <!-- NOMBRE -->

      <ng-container matColumnDef="nombre">

        <th mat-header-cell *matHeaderCellDef>
          Método
        </th>

        <td mat-cell *matCellDef="let payment">

          <div class="payment-info">

            <div class="payment-avatar">

              {{ payment.nombre?.charAt(0) }}

            </div>

            <strong>
              {{ payment.nombre }}
            </strong>

          </div>

        </td>

      </ng-container>

      <!-- DESCRIPCION -->

      <ng-container matColumnDef="descripcion">

        <th mat-header-cell *matHeaderCellDef>
          Descripción
        </th>

        <td mat-cell *matCellDef="let payment">

          {{ payment.descripcion }}

        </td>

      </ng-container>

      <!-- ACCIONES -->

      <ng-container matColumnDef="actions">

        <th mat-header-cell *matHeaderCellDef>
          Acciones
        </th>

        <td mat-cell *matCellDef="let payment">

          <div class="actions">

            <button
              mat-icon-button
              class="edit-btn"
              (click)="openEditDialog(payment,$event)">

              <mat-icon>edit</mat-icon>

            </button>

            <button
              mat-icon-button
              class="delete-btn"
              (click)="deleteCustomer(payment.metodoPagoId,$event)">

              <mat-icon>delete</mat-icon>

            </button>

          </div>

        </td>

      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns">
      </tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;">
      </tr>

    </table>

  </div>

</div>