<div class="container">
  <div class="demo-button-container">
    <button mat-raised-button color="primary" (click)="openDialog()">Agregar Metodo de Pago
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let payment">{{ payment.metodoPagoId }}</td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let payment">{{ payment.nombre }}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let payment">{{ payment.descripcion }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let payment">
        <button mat-icon-button (click)="deleteCustomer(payment.metodoPagoId, $event)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="openEditDialog(payment, $event)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>